.erro {
    font-size: 5em;
}

.error {
    font-size: 3em;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .secterror {
        height: 100vh;
    }
    
    .error {
        font-size: 2em;
    }
}