footer {
    background-color: rgb(15, 9, 9);
    height: 40px;
    bottom: 0;
}

footer a {
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    transition: all 0.2s;
}

footer a:hover {
    font-size: 1.4em;
}